<?xml version="1.0" encoding="utf-8" ?>
<plugin>
    <class>org.igniterealtime.openfire.plugins.pushnotification.PushNotificationPlugin</class>

    <name>${project.name}</name>
    <description>${project.description}</description>
    <version>${project.version}</version>

    <author>Guus der Kinderen</author>
    <date>04/26/2020</date>

    <minJavaVersion>1.8</minJavaVersion>

    <databaseKey>pushnotification</databaseKey>
    <databaseVersion>1</databaseVersion>

</plugin>
