<?xml version="1.0" encoding="utf-8" ?>
<plugin>
    <class>org.igniterealtime.openfire.plugins.pushnotification.PushNotificationPlugin</class>

    <name>${project.name}</name>
    <description>${project.description}</description>
    <version>${project.version}</version>

    <author>Guus der Kinderen</author>
    <date>2025-03-05</date>

    <minServerVersion>5.0.0</minServerVersion>

    <databaseKey>pushnotification</databaseKey>
    <databaseVersion>1</databaseVersion>

    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="pushnotification-settings"
                      url="pushnotification-settings.jsp"
                      name="${sidebar.pushnotification}"
                      description="${sidebar.pushnotification.descr}" />
            </sidebar>
        </tab>
    </adminconsole>
</plugin>
